@model GuardianChecks.Models.GuardianCheck

@{
	ViewBag.Title = "Form";
}

<div class="panel panel-default" style="margin-top: 20px">
	<div class="panel-heading">
		PAD Details
	</div>
	<div class="panel-body">

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Guardian Check
	</div>
	<div class="panel-body">

		
				@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { id = "frm-check", enctype = "multipart/form-data" }))
				{
					@Html.AntiForgeryToken()
					<div class="form-horizontal">

						@Html.ValidationSummary(true, "", new { @class = "text-danger" })

						<div style="margin-left:20px">

							@Html.HiddenFor(x => x.PadId)
							@Html.HiddenFor(x => x.UserId)

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="CabinetOpenLock" id="tgl-lock">
									
									Does the cabinet open and lock correctly?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="CabinetBatteriesOk" id="tgl-batteries">
									
									Are the lock batteries ok?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="CabinetLightWork" id="tgl-light">
									
									Are the cabinet lights working?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="nothingTouchingHeater" id="tgl-heater">
									
									Have you ensured that nothing is touching the cabinet heater?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="AEDOk" id="tgl-aed">
									
									Is the AED in operating mode?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="AEDSilent" id="tgl-silent">
								
									Is the AED silent?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="ResusKit" id="tgl-kit">
									
									Is the resuscitation kit in the cabinet?
								</label>
							</div>

							<div class="form-group">
								<div>
									<input type="submit" value="Next" class="btn btn-default btn-sm" />
								</div>
							</div>
						</div>
					</div>
				}


	</div>
</div>

@section scripts {
	
	<script src="~/Scripts/CAG/GuardiansForm.js"></script>

}