@model GuardianChecks.Models.GuardianCheck

@{
	ViewBag.Title = "Form";
}

<div class="panel panel-default" style="margin-top: 20px">
	<div class="panel-heading">
		PAD Details
	</div>
	<div class="panel-body">

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Guardian Check
	</div>
	<div class="panel-body">

		<div class="row">
			<div class="col-md-8">
				@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { id = "frm-check", enctype = "multipart/form-data" }))
				{
					@Html.AntiForgeryToken()
					<div class="form-horizontal">

						@Html.ValidationSummary(true, "", new { @class = "text-danger" })

						<div style="margin-left:20px">

							@Html.HiddenFor(x => x.PadId)
							@Html.HiddenFor(x => x.UserId)

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="CabinetOpenLock" id="tgl-lock">
									<button type="button" class="btn btn-sm btn-note" id="btn-lock"><span class="fa fa-plus"></span> Add note</button>&nbsp;
									Does the cabinet open and lock correctly?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="CabinetBatteriesOk" id="tgl-batteries">
									<button type="button" class="btn btn-sm btn-note" id="btn-batteries"><span class="fa fa-plus"></span> Add note</button>&nbsp;
									Are the lock batteries ok?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="CabinetLightWork" id="tgl-light">
									<button type="button" class="btn btn-sm btn-note" id="btn-light"><span class="fa fa-plus"></span> Add note</button>&nbsp;
									Are the cabinet lights working?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="nothingTouchingHeater" id="tgl-heater">
									<button type="button" class="btn btn-sm btn-note" id="btn-heater"><span class="fa fa-plus"></span> Add note</button>&nbsp;
									Have you ensured that nothing is touching the cabinet heater?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="AEDOk" id="tgl-aed">
									<button type="button" class="btn btn-sm btn-note" id="btn-aed"><span class="fa fa-plus"></span> Add note</button>&nbsp;
									Is the AED in operating mode?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="AEDSilent" id="tgl-silent">
									<button type="button" class="btn btn-sm btn-note" id="btn-silent"><span class="fa fa-plus"></span> Add note</button>&nbsp;
									Is the AED silent?
								</label>
							</div>

							<div class="form-group">
								<label class="checkbox-inline">
									<input type="checkbox" class="toggle" name="ResusKit" id="tgl-kit">
									<button type="button" class="btn btn-sm btn-note" id="btn-kit"><span class="fa fa-plus"></span> Add note</button>&nbsp;
									Is the resuscitation kit in the cabinet?
								</label>
							</div>

							<div class="form-group">
								<div>
									<input type="submit" value="Submit" class="btn btn-default btn-sm" />
								</div>
							</div>
						</div>
					</div>
				}
			</div>
			<div class="col-md-4">
				Hello
			</div>
		</div>


	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><span class="fa fa-sticky-note-o"></span> Notes</h4>
			</div>
			<div class="modal-body">
				<div id="modal-content"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

@section scripts {
	
	<script src="~/Scripts/CAG/GuardiansForm.js"></script>

}