
@{
	ViewBag.Title = "Issues";
}
<div class="panel panel-default" style="margin-top: 20px">
	<div class="panel-heading">
		Issues
	</div>
	<div class="panel-body">
		<div class="alert alert-info">
			You answered no to the following questions, please provide some details
		</div>
		@foreach (var item in ViewBag.Issues)
		{
			using (Html.BeginForm("IssueSubmit", "Guardians", FormMethod.Post, new { enctype = "multipart/form-data", id = item.IssueName }))
			{
				<div style="margin-bottom:50px;">
					<strong>@item.IssueQuestion</strong> <br />
					<textarea name="Description" class="form-control" rows="4"></textarea>
					<div class="radio">
						<label><input type="radio" name="severity" value="3">The PAD site is usable, issue is not urgent</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="severity" value="2"><span class="text-warning"> The PAD site is usable, but requires immediate attention</span></label>
					</div>
					<div class="radio disabled">
						<label><input type="radio" name="severity" value="1"><span class="text-danger"> PAD site is inoperable</span></label>
					</div>

					<input type="file" accept="image/*" name="file" multiple />
				</div>
				}
		}
		<button class="btn btn-default btn-sm" id="btn-next">Next</button>
	</div>

</div>

@section scripts {

	<script type="text/javascript">
		var Path_SubmitIssue = '@Url.Action("IssueSubmit", "Guardians")'
	</script>
	
	<script src="~/Scripts/CAG/GuardianCheck-Issues.js"></script>

}