@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 20px;">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Parts / Warranties Expiring Soon
			</div>
			<div class="panel-body">
				@Html.Action("_Equipment", "Home")
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Guardian Checks Not Complete
			</div>
			<div class="panel-body">

			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="@Url.Action("Index", "Issues")">Reported Issues</a>
			</div>
			<div class="panel-body">
				@Html.Action("_Issues", "Home")
			</div>
		</div>
	</div>
</div>

@section scripts {

	<script src="~/CAGScripts/Home.js"></script>
	
}