
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AccessDenied</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<img src="~/Content/logo.png" width="300" />
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="panel panel-danger" style="margin-left: 15px;">
				<div class="panel-heading">Access Denied</div>
				<div class="panel-body">
					<div class="text-center">
						<p>You do not have permission to access this page.</p>

						<p><a href="@Url.Action("Index", "Home")" class="btn btn-default">Return</a></p>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</body>
</html>
